
**/.terraform/*

*.tfstate
*.tfstate.*

crash.log

*.tfvars
*.tfvars.json


override.tf
override.tf.json
*_override.tf
*_override.tf.json

terraform.rc
.terraformrc

*.tfstate
*.tfstate.*

.tfstate.backup

*.tfvars
*.tfvars.json

.terraform/
**/.terraform/*

*.pem

*.tfplan
